[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
counter = "4Vh4EHzVmYo2GXCrdqrBZzFT4GVqducnXTDKGfThbZDn"
factory = "Fqe7emgpwa4pfCwVQN54LRTimp8rx8PCBg2n9CZPzrG8"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
